# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.lock
*.env
*.bin
.env.*
*.pyc


# APIs
# Firebase
google-services.json
GoogleService-Info.plist

.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

#folders
supabase/.temp
supabase/functions/.env
node_modules

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.packages
.flutter-plugins-dependencies
.metadata/
.pub-cache/
.pub/
/build/
.flutter-plugins
.flutter-plugins-dependencies
/coverage/

# Phython 
.venv/
__pycache__/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/.gradle
/android/app/debug
/android/app/profile
/android/app/release
android/local.properties
android/key.properties
*.keystore
*.jks

#IOS build artefacts
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Runner.xcworkspace
/ios/Runner/GeneratedPluginRegistrant.*
/ios/ServiceDefinitions.json
/ios/Runner/GeneratedPluginRegistrant.swift
